<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon"
    href="https://static-index-4gtuqm3bfa95c963-1304825656.tcloudbaseapp.com/official-website/favicon.svg"
    mce_href="https://static-index-4gtuqm3bfa95c963-1304825656.tcloudbaseapp.com/official-website/favicon.svg"
    type="image/x-icon" />
  <title>LJM的个人主页</title>
  <style>
    .main{
      height: 80%;
      width: 100%;
      text-align: center;
    }
    .foot{
      width: 100%;
      text-align: center;
    }
    html{
      height: 100%;
      width: 100%;
    }
    body{
      height: 100%;
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="main">
    <h1>LJM的个人主页</h1>
    缤纷世界~~有我一席~~感恩美好~~
  </div>
  <div class="foot"><a href="https://www.miit.gov.cn/">粤ICP备19052635号</a></div>
</body>

</html>